.app-name {
  font-weight: bold;
  font-family: bree serif;
  color: #1e293b;
  font-size: 12px;
  margin-top: 16px;
}
.app-image {
  height: 60px;
}
.list-item {
  min-width: 120px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 10px;
  background-color: #ffffff;
}
